.container {
  max-width: 27rem;
  margin-right: auto;
  margin-left: auto;
  
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.logo {
  margin-top: 5rem;
  width: 15rem;
  height: 15rem;
  background-image: url(../img/logo-HH.svg);
  background-size: contain;
}

p {
  text-align: center;
}
